.navigation{
    margin-left: 50px;
}
.navigation__link {
    text-decoration: none;
    color: black;
    margin: 0 5px;
    transition: 0.3s all;
}
.navigation__link:hover{
   color: rgb(114, 114, 114);
}
@media (max-width: 970px){
    .navigation__link{
        margin: 5px;
        padding: 3px;
        text-align: center;
        width: 100%;
        transition: 0.5s all;
        box-sizing: border-box;
    }
    .navigation__link:hover{
        background-color: rgb(158, 158, 158);
        color: white;
    }
}