.details-img{
    max-width: 100%;
    height: 600px;
    background-color: rgba(128, 128, 128, 0.048);
    margin: auto;
}
.details-img__size{
    width: 100%;
    height: 600px;
    background: center center / contain no-repeat;
}    
.img-9{
    background-image: url(/images/catalog/9.jpg);
}
@media (max-width: 600px){
    .details-img{
        height: auto;
    }
    .details-img__size{
        height: 350px;
    }
}